#splash_screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000000000;
  top: 0;
  left: 0;
  background: #fff;
}

.splash_screen_icons {
  position: absolute;
  top: 50%;
  left: calc(50% - 200px);
}

.splash_logo {
  transform-origin: 150%;
  will-change: transform;
  animation: rotate-enlarge-translate 1.5s forwards cubic-bezier(0.42, 0, 0.58, 1);
  height: 75px;
  margin: -3px 5px 0 0;
}

.more-info-value {
  margin-left: 20px;
  font-weight: initial;
}

.more-info-title {
  display: flex;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.navbar-brand {
  --bs-navbar-brand-color: #fff !important;
  --bs-navbar-brand-hover-color: #fff !important
}

.navbar {
  --bslib-navbar-default-bg: #25443B !important; 
  border-bottom: 1px solid #dee2e6 !important;
  padding: 1rem !important;
  min-height: 80px !important;
}
